.wrapper {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 600px;
}

.users {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.712);
    border-radius: 3px;
    overflow-x: hidden;
}

.users:hover {
    overflow-y: scroll;
}

.users::-webkit-scrollbar {
    width: 8px;
}

.users:hover {
    overflow-y: scroll;
}

.users::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
}

.users::-webkit-scrollbar-thumb {
    border-radius: 12px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.buttonArea {
    display: flex;
    flex-direction: row;
    width: 350px;
    height: 50px;
    background-color: rgba(224, 226, 228, 0.829);
    justify-content: center;
    align-items: center;
}

.buttonParticipants {
    width: 125px;
    height: 25px;
    background: linear-gradient(90deg, rgba(100, 65, 165, 1) 30%, rgba(196, 48, 43, 1) 100%);
    border-radius: 2px;
    border: none;
    outline: none;
    color: hsl(240, 7%, 94%);
    font-size: 17px;
    cursor: pointer;
}

.closeIcon {
    fill: red;
    width: 22px;
    height: 22px;
    margin-right: 178px;
    cursor: pointer;
}

.logo {
    width: 40px;
    height: 40px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
